<!DOCTYPE html>
{% extends "hrProfile.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expesne Details</title>

</head>
<body>
{% block content %}
<figure class="pie-chart">
    <h2>Expense Details</h2>
    <figcaption>
        Prepaid expense<span style="color:#4e79a7"></span><br>
        Accounting and legal fees<span style="color:#f28e2c"></span><br>
        Advertising expenses<span style="color:#e15759"></span><br>
        Business tax, fees, licenses and dues<span style="color:#76b7b2"></span><br>
        Insurance expenses<span style="color:#59a14f"></span><br>
        Interest and bank charges<span style="color:#edc949"></span><br>
        Maintenance and repairs<span style="color:#af7aa1"></span><br>
        Savings contributions<span style="color:#ff9da7"></span><br>
        Emergency Funds<span style="color:#9c755f"></span>
    </figcaption>
    <cite>International Energy Agency</cite>
</figure>
{% endblock %}
</body>
</html>